<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soft.modules.system.mapper.SysDepartMapper">
    <!-- 查询用户部门 -->
    <select id="queryUserDeparts" parameterType="String" resultType="cn.soft.modules.system.entity.SysDepart">
        select * from sys_depart where id in ( select dep_id from sys_user_depart where user_id = #{userId})
    </select>
</mapper>