* {
    margin: 0;
    padding: 0;
}
.icon-zengchang {
    color: #f75d5d;
}

.icon-xiajiang {
    color: #00ff80;
}

html, body {
    width: 100%;
    min-width: 1920px;
    min-height: 1080px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
/* 1920x1080分辨率下的显示 */
body {
    background-image: url('images/background2.png');
}

/* 滚动动画 */
@-webkit-keyframes scrollText1 {
    0%{
        -webkit-transform: translateY(0px);
    }
    20%{
        -webkit-transform: translateY(-20px);
    }
    40%{
        -webkit-transform: translateY(-40px);
    }
    60%{
        -webkit-transform: translateY(-60px);
    }
    80%{
        -webkit-transform: translateY(-80px);
    }
    100%{
        -webkit-transform: translateY(-100px);
    }
}

@keyframes scrollText1 {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%{
        transform: translateY(-40px);
    }
    60%{
        transform: translateY(-60px);
    }
    80%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(-100px);
    }
}

div.header {
    width: 100%;
    height: 10%;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

div.header div.title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    background-image: -webkit-gradient( linear, 0 0, 0 bottom, from(rgb(25, 247, 228)), to(#2e6fc1) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.header div.currentTime {
    text-align: right;
    color: #cdcbcb;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 10px;
    background-image: -webkit-gradient( linear, 0 0, 0 bottom, from(rgb(25, 247, 228)), to(#2e6fc1) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.main {
    width: 100%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    padding: 0 1.5%;
    display: flex;
}

div.areaLeft {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.areaCenter {
    width: 50%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

div.areaRight {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.content1 {
    width: 100%;
    height: calc(65% - 8px);
    margin-top: 6px;
}

div.content2 {
    width: 100%;
    height: calc(35% - 8px);
    margin-top: 6px;
}

div.content3 {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 150px;
}

div.content4 {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin-top: 10px;
    height: calc(48% - 75px);
}

div.content5 {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin-top: 10px;
    height: calc(48% - 75px);
}

div.content6 {
    width: 100%;
    height: calc(32% - 8px);
    margin-top: 6px;
}

div.content7 {
    width: 100%;
    height: calc(32% - 8px);
    margin-top: 6px;
}

div.content8 {
    width: 100%;
    height: calc(32% - 8px);
    margin-top: 6px;
}

div.areaLeft div.subTitle, div.areaRight div.subTitle {
    color: #d4fff7;
    font-size: 20px;
    text-align: center;
    margin-bottom: 6px;
}

div.areaCenter div.subTitle2 {
    color: #d4fff7;
    font-size: 20px;
    text-align: left;
    margin-bottom: 6px;
}

div.areaCenter div.content3 span.mainTitle {
    color: #d4fff7;
    font-size: 32px;
    text-align: left;
    margin-bottom: 6px;
}

div.areaCenter div.content3 span.ratioSpan {
    color: #d4fff7;
    font-size: 20px;
    margin-bottom: 6px;
    float: right;
    margin-right: 30px;
}

div.areaCenter div.money {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 6px;
}

div.areaCenter div.money div.unit {
    width: 50px;
    height: 80px;
    border-radius: 4px;
    margin: 6px 6px 16px 6px;
    border: 2px solid #20a3f580;
    font-size: 60px;
    color: white;
    text-align: center;
    position: relative;
    writing-mode: vertical-lr;
    text-orientation: upright;
    overflow: hidden;
}

div.areaCenter div.money div.unit span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
}

div.areaCenter div.title {
    color: #d4fff7;
    font-size: 32px;
    text-align: left;
    margin: 6px 6px 16px 6px;
}

div.symbol {
    font-size: 60px;
    color: white;
}

div.areaLeft div.content1Block, div.areaLeft div.content2Block,div.areaCenter div.content4Block,div.areaCenter div.content5Block, div.areaRight div.content6Block, div.areaRight div.content7Block, div.areaRight div.content8Block{
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    border: 3px solid #20a3f580;
    border-radius: 6px;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: contain;
    position: relative;
}

div.content1Block::after, div.content2Block::after, div.content6Block::after, div.content7Block::after, div.content8Block::after{
    content: url(images/divTitle.png);
    top: -18px;
    left: calc(50% - 105px);
    float: left;
    position: absolute;
}

div.angleBorder {
    z-index: 2500;
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgba(0,0,0,0);
    border: 3px solid #23d5ff;
}

div.angleLeftTop {
    top: -4px;
    left: -4px;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 4px;
}

div.angleLeftBottom {
    bottom: -4px;
    left: -4px;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 4px;
}

div.angleRightTop {
    top: -4px;
    right: -4px;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 4px;
}

div.angleRightBottom {
    bottom: -4px;
    right: -4px;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 4px;
}

div.content1Block {
    display: flex;
    flex-direction: column;
}
/* 门诊 */
div.content1Block div.OutpatientClinic {
    width: 100%;
    height: 32%;
    display: flex;
}

div.content1Block div.icon {
    width: 34px;
    height: 100%;
}

div.content1Block div.icon div.title {
    color: white;
    font-size: 14px;
    text-align: center;
}

div.content1Block div.icon span.iconfont {
    color: white;
    font-size: 30px;
}

div.content1Block div.index {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 100%;
    color: white;
}

div.content1Block div.index div.indexItem {
    display: flex;
    margin: 6px 0;
}

div.content1Block div.index div.indexItem>div.title{
    width: 50%;
}

div.content1Block div.index div.indexItem>div.data{
    /*width: 40%;*/
}

div.content1Block div.index div.indexItem>div.trend{
    width: 40px;
    text-align: center;
}


/* 住院 */
div.content1Block div.hospitalized {
    width: 100%;
    height: 35%;
    display: flex;
}

/* 手术 */
div.content1Block div.surgery {
    width: 100%;
    height: 32%;
    display: flex;
}

div.trendChart {
    width: 100%;
    height: 100%;
}

/* 诊区动态表格 */
div.clinicArea {
    width: 100%;
    height: 100%;
    border: 1px solid #1d4183;
    overflow: hidden;
}

div.clinicArea ul {
    display: flex;
    color: white;
    height: 40px;
    padding: 0 20px;
    align-items: center;
}

div.clinicArea>ul.header {
    background-color: #1d4183;
}

div.clinicArea>ul.header li.dynamic span.dz {
    background-color: #4bc4ff;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 4px;
}

div.clinicArea>ul.header li.dynamic span.yz {
    background-color: #41db25;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 4px;
}

div.clinicArea div.body {
    width: 100%;
    height: calc(100% - 40px);
    overflow: hidden;
}

div.clinicArea div.body ul.rolling li.dynamic {
    display: flex;
}

div.clinicArea div.body ul.rolling li.dynamic div.dz {
    background-color: #4bc4ff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.clinicArea div.body ul.rolling li.dynamic div.yz {
    background-color: #41db25;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.clinicArea div.body ul.rolling li.dynamic div {
    height: 100%;
}

div.clinicArea>ul.header li.dynamic span.ratio {
    float: right;
}

div.clinicArea div.body ul.rolling {
    border-bottom: 1px dashed #1d4183;
    animation: scrollText1 10s infinite  cubic-bezier(1, 0, 0.5, 0);
}

div.clinicArea ul li {
    list-style: none;
}

div.clinicArea ul li.department, div.clinicArea ul li.seeDoctor, div.clinicArea ul li.await, div.clinicArea ul li.diagnosed {
    width: 15%;
}

div.clinicArea ul li.dynamic {
    width: 40%;
    height: 20px;
}

div.clinicArea ul.rolling li.await {
    color: #4bc4ff;
}

div.clinicArea ul.rolling li.diagnosed {
    color: #41db25;
}

/* 实时床位表格区域样式 */
div.bedArea {
    width: 100%;
    height: 100%;
    border: 1px solid #1d4183;
    overflow: hidden;
}

div.bedArea ul {
    display: flex;
    color: white;
    height: 40px;
    padding: 0 20px;
    align-items: center;
}

div.bedArea>ul.header {
    background-color: #1d4183;
}

div.bedArea div.body ul.rolling {
    border-bottom: 1px dashed #1d4183;
    animation: scrollText1 12s infinite  cubic-bezier(1, 0, 0.5, 0);
}

div.bedArea ul li {
    list-style: none;
}

div.bedArea ul li.ward, div.bedArea ul li.beds, div.bedArea ul li.addBeds, div.bedArea ul li.usedBeds {
    width: 15%;
}

div.bedArea ul li.ratio {
    width: 40%;
    height: 20px;
}

div.bedArea ul:not(.header) li.ratio{
    background-color: #fdfeff40;
    border-radius: 4px;
}

div.bedArea ul:not(.header) li.ratio div {
    height: 100%;
    background: linear-gradient(to right, #67bce8, #00A0E9);
    border-radius: 4px;
}

div.bedArea ul:not(.header) li.addBeds {
    color: #fb2727;
}

div.bedArea ul:not(.header) li.usedBeds {
    color: #fb9527;
}

div.bedArea ul.all {
    border: 1px dashed #1d4183;
}

div.bedArea div.body {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}

/* 疾病诊断分析柱形图 */
div.diagnosis {
    width: 100%;
    height: 100%;
}

div.patientPie {
    width: 100%;
    height: calc(100% - 20px);
}

div.content7Block div.divide {
    display: flex;
}

div.content7Block div.divide>div{
    width: 50%;
    height: 20px;
    color: whitesmoke;
    display: flex;
    align-items: end;
    justify-content: center;
}

div.content7Block div.divide>div>input[type="radio"] {
    width: 20px;
    height: 20px;
}

/* 科室床位使用率以及住院日分析面积折线图 */
div.bedAndHospitalDayChart {
    width: 100%;
    height: 100%;
}